<footer class="w-full py-20 sm:py-28 px-4 bg-neutral-800 text-neutral-300">
  <div class="flex flex-col sm:flex-row justify-between gap-4 mx-4 sm:mx-14">
    <section class="flex-[0.4]">
      <h2 class="text-xl text-neutral-50 mb-9">
        Beautiful Blog
      </h2>

      <p class="py-2 leading-relaxed">
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
        there live the blind texts.
      </p>
    </section>

    <section class="flex-[0.4]">
      <h2 class="text-xl text-neutral-50 mb-9">
        Informação
      </h2>

      <p class="py-2">
        Termos de uso
      </p>

      <p class="py-2">
        Sobre
      </p>

      <p class="py-2">
        Política de Privacidade
      </p>

      <p class="py-2">
        Ajuda
      </p>
    </section>

    <section class="flex-[0.4]">
      <h2 class="text-xl text-neutral-50 mb-9">
        Categorias
      </h2>

      <p class="py-2">
        Pratos de Chef
      </p>

      <p class="py-2">
        Sobremesas
      </p>

      <p class="py-2">
        Receitas
      </p>

      <p class="py-2">
        Estilo de vida
      </p>
    </section>

    <section class="flex-[0.4]">
      <h2 class="text-xl text-neutral-50 mb-9">
        Alguma pergunta?
      </h2>

      <p class="py-2 flex gap-4">
        <i class="material-symbols-rounded">pin_drop</i>
        203 Fake St. Mountain View, San Francisco, California, USA
      </p>

      <p class="py-2 flex gap-4">
        <i class="material-symbols-rounded">call</i>
        +2 392 3929 210
      </p>

      <p class="py-2 flex gap-4">
        <i class="material-symbols-rounded">mail</i>
        info@yourdomain.com
      </p>
    </section>
  </div>

  <section class="flex justify-center mt-16 sm:mt-24">
    <p class="text-center">
      Copyright © <%= current_year %> All rights reserved | Template made by Juliana Candido
    </p>
  </section>
</footer>
